<%= form_with model: [@room, message] do |f| %>
  <form class="form-inline">
    <%= f.hidden_field :room_id %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "メッセージを入力してください。", size: "100" %>
    </div>
    <div class="field">
      <%= f.file_field :images, multiple: true %>
    </div>
    <div class="form-group">
      <%= f.submit "送信", class: "btn btn-primary" %>
    </div>
  </form>
<% end %>
