<div class="p-comment__item">
  <div class="card-author d-flex flex-row">
    <p class="">
      <%= link_to userpage_path(comment.user.name) do %>
        <% if comment.user.profile.present? %>
          <%= image_tag comment.user.profile.icon, class: 'header-profile-icon' %>
        <% else %>
          <%= image_tag "/assets/default.jpg", class: 'header-profile-icon' %>
        <% end %>
      <% end %>
    </p>
    <div class="ms-2">
      <p class="my-0">
        <%= link_to userpage_path(comment.user.name) do %>
          <%= comment.user.name %>
        <% end %>
      </p>
      <span class="card-date fw-light text-secondary small"><%= comment.updated_at.to_s(:datetime_jp) %></span>
    </div>
    <div class="xmark ms-auto">
      <% if current_user.id == comment.user_id %>
        <%= link_to [@post, comment], method: :delete, data: { confirm: "本当に削除しますか？" } do %>
          <i class="fa-solid fa-xmark"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <p><%= simple_format(comment.comment) %></p>
  <div class="p-comment__bottomLine">
    <div id="goods_buttons<%= comment.id %>">
      <%= render partial: 'goods/good', locals: { post: @post, comment: comment } %>
    </div>
  </div>
</div>
