<div class="">

  <div class="row my-5">

    <div class="col-3">
      <% if @user.profile.present? %>
        <%= image_tag @user.profile.icon, class: 'profile-icon' %>
      <% else %>
        <%= image_tag "/assets/default.jpg", class: 'profile-icon' %>
      <% end %>
    </div>

    <div class="col-6">
      <div class="my-3">
        <strong><%= @user.name %></strong>
      </div>
      <div class="my-3">
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <div class="my-3">
          <% unless @current_user == @user %>
            <%= render 'follow_form' %>
          <% end %>
        </div>
      </div>
      <div class="my-3">
        <% unless @user.profile.nil? %>
          <% @user.profile.favorite_products.each do |p| %>
            <span class="badge bg-primary"><%= p.product_name %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- DM機能 -->
    <div class="col-3">
      <% unless @user.id == @current_user.id %>
        <% if @isRoom == true %>
          <%= link_to "/rooms/#{@roomId}", class: "btn btn-outline-dark" do %>
            <i class="fa-solid fa-paper-plane"></i>
          <% end %>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.button type: :submit, class: "btn btn-outline-dark" do %>
              <i class="fa-solid fa-paper-plane"></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="">
    <table class="table table-hover posts__table">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>タイトル</th>
          <th>作成者</th>
          <th>作成日時</th>
          <th>更新日時</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td><%= post.title %></td>
            <td><%= post.user.name %></td>
            <td><%= post.created_at.to_s(:datetime_jp) %></td>
            <td><%= post.updated_at.to_s(:datetime_jp) %></td>
            <td><%= link_to '詳細', post, class: 'btn btn-outline-dark' %></td>
            <td><%= link_to '削除', post, class: 'btn btn-outline-dark', method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
