<div class="d-flex align-items-center">
  <h1>掲示板一覧</h1>
  <div class="ms-auto posts__linkBox">
    <%= form_tag posts_path, method: :get, class: 'posts__searchForm' do %>
      <% select_tag :category_id,
                    options_from_collection_for_select(Category.all, :id, :name, params[:category_id]),
                    {
                      prompt: 'カテゴリで絞り込み',
                      class: 'form-control posts__select',
                      onchange: 'submit(this.form);'
                    }
      %>
    <% end %>
    <%= link_to '新規作成', new_post_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<% @posts.each do |post| %>
  <div class="card my-3">
    <%= link_to post do %>
      <div class="card-body">
        <div class="card-author d-flex flex-row">
          <p class="">
            <%= link_to userpage_path(post.user.name) do %>
              <% if post.user.profile.present? %>
                <%= image_tag post.user.profile.icon, class: 'header-profile-icon' %>
              <% else %>
                <%= image_tag "/assets/default.jpg", class: 'header-profile-icon' %>
              <% end %>
            <% end %>
          </p>
          <div class="ms-2">
            <p class="my-0">
              <%= link_to userpage_path(post.user.name) do %>
                <%= post.user.name %>
              <% end %>
            </p>
            <span class="card-date fw-light text-secondary small"><%= post.updated_at.to_s(:datetime_jp) %></span>
          </div>
        </div>
        <h4 class="card-title fw-bolder ps-5">
          <%= link_to post do %>
            <%= post.title %>
          <% end %>
        </h4>
        <div class="card-category ps-5">
          <% if post.categories.exists? %>
            <i class="fa-solid fa-tag"></i>
          <% end %>
          <% post.categories.each do |category| %>
            <span class="badge bg-secondary"><%= category.name %></span>
          <% end %>
        </div>
        <div class="card-content ps-5">
          <span class=""><i class="fa-regular fa-comment-dots"></i> <%= post.comments.count %></span>
          <span class="ps-1"><i class="fa-regular fa-heart"></i> <%= post.favorites.count %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= paginate @posts %>
