<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ms-auto posts__linkBox">
    <%= link_to '一覧', posts_path, class: 'btn btn-outline-dark' %>
    <% if @current_user.id == @post.user_id %>
      <%= link_to '編集', edit_post_path(@post), class: 'btn btn-outline-dark' %>
    <% end %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<div class="card">
  <div class="card-header">
    <h4><%= @post.title %></h4>
    <% @post.categories.each do |category| %>
      <span class="badge bg-primary"><%= category.name %></span>
    <% end %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(@post.body) %></p>
    <p class="text-end fw-bold mr-10">
      <%= link_to userpage_path(@post.user.name) do %>
        <% if @post.user.profile.present? %>
          <%= image_tag @post.user.profile.icon, class: 'header-profile-icon' %>
        <% else %>
          <%= image_tag "/assets/default.jpg", class: 'header-profile-icon' %>
        <% end %>
        <%= @post.user.name %>
      <% end %>
    </p>
    <div id="favorites_buttons<%= @post.id %>">
      <%= render partial: 'favorites/favorite', locals: { post: @post, favorite: @favorite } %>
    </div>
  </div>
</div>

<div class="p-comment__list">
  <div class="p-comment_listTitle">コメント</div>
  <%= render @post.comments %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment } %>
